{% extends 'test_html.html' %}
{% block content %}
{{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        {{msg}}
    {% endfor %}
    <form action="{{url_for('contact')}}" method="POST" class="form-contact">
    <p>
        <label>Имя: </label>
        <label>
            <input type="text" name="username" value=""/>
        </label>
        <p>
        <label>Email: </label>
            <label>
                <input type="text" name="email" value=""/>
            </label>
        <p><label>Сообщение:</label>
    <p><label>
        <textarea name="message" rows=7 cols=40></textarea>
    </label>
        <p><input type="submit" value="Отправить" />
    </form>
{% endblock %}