<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test title</title>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/rainy-weather.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/test.css">
</head>
<body>
{% block content %}
<header>
    <ul class="mainmenu">
        {% for point in menu %}
            <li><a href="{{ point.url }}">{{ point.title }}</a></li>
        {% endfor %}
    </ul>
</header>
{% endblock %}
</body>
</html>